body {
  background-color: #ccc; }

.wrapper {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  background-color: transparent; }

a.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 1px solid navy;
  padding: 10px 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: Arial, sans-serif; }
